<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
	<display-name>ch07</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>HobbyServlet</servlet-name>
		<servlet-class>com.jeremyallenshepherd.HFServletsJSP.ch07m.HobbyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HobbyServlet</servlet-name>
		<url-pattern>/HobbyPage.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MyTestInit</servlet-name>
		<jsp-file>/TestInit.jsp</jsp-file>
		<init-param>
			<param-name>email</param-name>
			<param-value>ikickedbutt@wickedlysmart.com</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyTestInit</servlet-name>
		<url-pattern>/TestInit.jsp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ForwardToJSP</servlet-name>
		<servlet-class>com.jeremyallenshepherd.HFServletsJSP.ch07m.Forward</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForwardToJSP</servlet-name>
		<url-pattern>/forward</url-pattern>
	</servlet-mapping>
</web-app>